.formHeading{
    margin-top: 60px;
    text-align: center;
    font-size: 55px;
}

.formbody{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicTxtBox{
    margin-left: 160px;
    padding: 10px;
    width: 350px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
}

.validationtxt{
    justify-content: center;
    font-size: 12px;
    color: red;
    margin-left: 50%;
    background-color: white;
}

.addressTxtBox{
    margin-top: 20px;
    margin-left: 180px;
    width: 360px;
    height: 40px;
    background-color: white;
}
/* 
.filebox{
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid grey;
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 10px;
} */

.btnPanel{
    margin-top: 0px;
    width: 100%;
    background-color: white;
}

.btn{
    padding: 10px;
    font-size: 14px;
    width: 40%;
    border: white;
}

.verifyBtn{
    background-color: #51B6FF;
    margin-left: 10%;
    border-radius: 10px;
}

.verifyBtn:hover{
    background-color: #209ffa;
}

.resetBtn{
    margin-left: 15px;
    background-color: #A4B2C7;
    margin-top: 15px;
    border-radius: 10px;
}

.resetBtn:hover{
    background-color: #768499;
}

.applySection{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.applyGramaBtn{
    margin-left: 15px;
    background-color: #2337ad;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
}

.applyGramaBtn:hover{
    background-color: #384dc9;
}

.gramaApplyForm{
    background-color:rgb(140, 75, 75);
    margin-top: 5%;
    padding-top: 0px;
}
.gramaApplyFormContainer{
    background-color: white;
    width: 45%;
    padding-bottom: 4%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.labels{
    margin-left: 15%;
    background-color: white;
}