.formHeading{
    margin-top: 60px;
    text-align: center;
    font-size: 55px;
}

.formbody{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicTxtBox{
    margin-left: 160px;
    padding: 10px;
    width: 350px;
    font-size: 16px;
}

.addressTxtBox{
    margin-top: 20px;
    margin-left: 130px;
    width: 360px;
    height: 150px;
    
}

.filebox{
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid grey;
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

.btnPanel{
    margin-top: 20px;
    width: 100%;
}

.btn{
    padding: 10px;
    font-size: 14px;
    width: 40%;
}

.applyBtn{
    background-color: #51B6FF;
}

.applyBtn:hover{
    background-color: #209ffa;
}

.resetBtn{
    margin-left: 15px;
    background-color: #A4B2C7;
    margin-top: 15px;
}

.resetBtn:hover{
    background-color: #768499;
}

