.formHeading{
    margin-top: 60px;
    text-align: center;
    font-size: 55px;
}

.formbody{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nicTxtBox{
    /* margin-left: 160px;
    padding: 10px;
    width: 350px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black; */
}

.validationtxt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: red;
   
    background-color: white;
}

.addressTxtBox{
    margin-top: 20px;
    margin-left: 180px;
    width: 360px;
    height: 40px;
    background-color: white;
}
/* 
.filebox{
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid grey;
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 10px;
} */

/* .btnPanel{
    margin-top: 0px;
    width: 100%;
    background-color: white;
} */

.button{
    width: 80%;
    margin-left: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.verifyButton{
    background-color: #51B6FF;
    border: white;
    border-radius: 10px;
}

.verifyButton:hover{
    background-color: #209ffa;
}

.resetButton{
    
    background-color: #A4B2C7;
    border: white;
    border-radius: 10px;
}

.resetButton:hover{
    background-color: #768499;
}

/* .applySection{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.applyGramaButton{
   
    background-color: #2337ad;
    color: white;
    border: white;
    border-radius: 10px;
}

.applyGramaButton:hover{
    background-color: #384dc9;
}

.gramaApplyForm{
    background-color:white;
    margin-top: 5%;
    padding-top: 0px;
    display: grid;
    grid-template: 2fr 1fr 2fr 1fr 4fr/ 1fr;
}
.firstRaw{
    background-color:white;
    display: grid;
    grid-template: 1fr/ 1fr 2fr;
}
.nicLabelDiv{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.nicLabel{
    background-color: white;
}
.nicTextDiv{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nicInput{
    width: 70%;
    border: 1px solid black;
    background-color: white;
}
.secondRaw{
    border: none;
    display: grid;
    grid-template: 1fr/ 1fr 2fr;
    background-color: white;
}
.addressLabelDiv{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
}
.addressLabel{
    background-color: white;
}
.addressInputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.addressInput{
    width:70%;
    border: 1px solid black;
    background-color: white;
}
.thirdRaw{
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: white;
    display:grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
}
.gramaApplyFormContainer{
    background-color: white;
    width: 70%;
    padding-bottom: 4%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
