.footer{
    /* width: 100%;
    background-color: black;
    color: white;
    font-size: x-small;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px; */
    background-color: black;
    width: 100%;
    display: grid;
    grid-template: 1fr/11fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px; 
    
    
}
.teamName{
    background-color: black;
    color: white;
    font-size: x-small;
    text-align: center;
}
.helpContainer{
    background-color: black;
    color: white;
    font-size: x-small;
    text-align: center;
}
.helpLink{
    text-decoration: none;
}
.helpContainer:hover{
    color: #c0c0c0;
 }