*{
    margin-top: 4px;
}

.appName{
    margin-left: 2%;
    height: 60px;
    width: 130px;
}

.userIcon{
    margin-left: 85%;
    width: 40px;
    height: 40px;
}

.notifyIcon{
    margin-left: 1%;
    width: 42px;
    height: 42px;
}
