
.homeMainContainer{
    width: 60%;
    height: 60vh;
    background-color: white;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    margin:0 auto;
    margin-top: 5%;
    border-radius: 20px;

}
.homeImage{
   width: 90%;
  
   
}
.homeImageContainer{
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    /* width: 50%; */
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoContainer{
    margin-top: 0%;
    background-color: white;
    border-radius: 0px 20px 0px 0px;
}
.loginContainer{
    display: grid;
    grid-template: 4fr 1fr / 1fr;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    /* width: 50%; */
    height: 100%;
}
.logoImage{
    width: 70%;
    height: 35vh;
    background-color:  white;
    margin-left: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
}
/* .signinBtn{
    background-color: #51B6FF;
    color: white;
    width: 60%;
    height: 6.5vh;
    font-size: 25px;
    font-weight: bold;
    border: #4992FF;
    border-radius: 15px;
    margin-left:20%;
    margin-top: 0%;
    
} */
.signinBtn:hover{
    background-color: #209ffa;
}
.textOne{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
    
}
.signupText{
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #51B6FF;
    background-color: white;
}
.signupText:hover{
   color: #209ffa;
}
.buttons{
    margin: 0%;
    background-color: white;
    
    border-radius: 0px 0px 20px 0px;
}
.greeting{
    text-align: center;
    margin-top: 15%;
    background: white;
    font-size: calc(1rem + 0.9vw);
}
.signupLink{
    text-decoration: none;
}