
.homeMainContainer{
    width: 60%;
    height: 60vh;
    background-color: white;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    margin-left: 20%;
    margin-top: 8%;
    border-radius: 20px;
}
.homeImage{
    width: 500px;
    height: 500px;
    
}
.homeImageContainer{
    background-color: white;
    margin: 0%;
    padding-left: 5%;
    padding-top: 15%;
    border-radius: 20px 0px 0px 20px;
}
.logoContainer{
    margin-top: 0%;
    background-color: white;
    width: 90%;
    margin-left: 5%;
}
.loginContainer{
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}
.logoImage{
    width: 50%;
    height: 27vh;
    background-color:  white;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 0%;
}
.signinBtn{
    background-color: #51B6FF;
    color: white;
    width: 60%;
    height: 6.5vh;
    font-size: 25px;
    font-weight: bold;
    border: #4992FF;
    border-radius: 15px;
    margin-left:20%;
    margin-top: 0%;
    
}
.signinBtn:hover{
    background-color: #209ffa;
}
.textOne{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
    
}
.signupText{
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #51B6FF;
    background-color: white;
}
.signupText:hover{
   color: #209ffa;
}
.buttons{
    margin: 0%;
    background-color: white;
    padding-top: 10%;
    border-radius: 0px 0px 20px 0px;
}