*{
    background-color: #5ca0e3;
}

.mainHeading{
    text-align: center;
    margin-top: 2%;
    font-size: 80px;
}

.menu{
    border-radius: 20px;
    text-align: center;
    background-color: white;
    width: 40%;
    height: 45vh;
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* 
.btn{
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    color: white;
    font-size: 18px;
    
} */

.gramabtn{
    
    background-color: #51B6FF;
    color: white;
    width: 80%;
    height: 6.5vh;
    font-size: 25px;
    font-weight: bold;
    border: #4992FF;
    border-radius: 15px;
    margin-left:0%;
    margin-top: 7%;
}

.gramabtn:hover{
    background-color: #209ffa;
}

.policebtn{
    background-color: #51B6FF;
    color: white;
    width: 80%;
    height: 6.5vh;
    font-size: 25px;
    font-weight: bold;
    border: #4992FF;
    border-radius: 15px;
    margin-left:0%;
    margin-top: 7%;
}

.policebtn:hover{
    background-color: #216beb;
}
.divider{
    margin-top: 6%;
    width: 90%;
}
.statusbtn{
    background-color: #51B6FF;
    color: white;
    width: 80%;
    height: 6.5vh;
    font-size: 25px;
    font-weight: bold;
    border: #4992FF;
    border-radius: 15px;
    margin-left:0%;
    margin-top: 7%;
}

.statusbtn:hover{
    background-color: #768499;
}

.status{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #ffe6e6;
    padding-top: 50px;
    padding-bottom: 50px;
}



