.signinForm{
    /* background-color: rgb(250, 248, 248); */
    width: 50%;
    height: 50vh;
    margin-left: 25%;
    margin-top:11%;
}
.cell{
    width: 100%;
    height: 7.5vh;
    /* background-color: bisque; */
    display: grid;
    grid-template: 1fr/1fr 3fr;
}
.label{
    /* background-color: aqua; */
    font-size: 25px;
}
.inputs{
    width: 45%;
    height:3.5vh;
}
.signinBtn{
    background-color: #51B6FF;
    color: white;
    width: 12%;
    height: 6.5vh;
    font-size: 25px;
    font-weight: bold;
    border: #4992FF;
    border-radius: 15px;
    margin-left:44%;
    margin-top: 2%;
    
}
.signinBtn:hover{
    background-color: #209ffa;
}
.textOne{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    
}
.signupText{
    text-align: center;
    margin-top: 1%;
    color: #51B6FF;
}
.signupText:hover{
   color: #209ffa;
}